IO_LOC  "clk" 4;
IO_LOC  "rst" 87;
IO_LOC  "btn1" 88;
IO_LOC  "led[0]" 15;
IO_LOC  "led[1]" 16;
IO_LOC  "led[2]" 17;
IO_LOC  "led[3]" 18;
IO_LOC  "led[4]" 19;
IO_LOC  "led[5]" 20;
IO_LOC  "uart_tx" 69;
IO_LOC  "uart_rx" 70;
